

!00--config_id 0

!fname_bbodies e01_basal_bodies.data
!fname_boundaries e02_boundaries.data

!fname_zgr1 z51.png
!fname_zgr2 z52.png

!fname_z3 z53.png
!fname_z4 z54.png
!fname_z5 z55.png



# !im_wh_px 512 512
!im_wh_px 1024 1024

!indata_bbodies_invy 1
!indata_bbodies_units px

!indata_boundaries_invy 0
!indata_boundaries_units um

# red   = basal body = channel 2
# green = basal foot = channel 1
!indata_label_body 2
!indata_label_foot 1




!max_separation_um 0.300

!pixel_size_um 0.030003


!zgr1_vec_length 0.300
!zgr1_body_color #ff0000
!zgr1_foot_color #00ff00




!cell_basal_body_color_default aa0000     - dark red
!cell_basal_body_color_notcell dddddd     - gray


# One line per cell.
# Comments after the color are ignored.
# To give different cells different basal body colors,
# uncomment the lines below here.
### !cell_basal_body_color
### 4400cc      - cell[0] - dark violet
### 0000dd      - cell[1] - dark blue
### 0099ff      - ...     - bright blue green
### 00ff00      - green
### ccff00      - orange
### ff0000      - red
### aa0000      - dark red






